.post{
    margin: 1.2rem 0 !important;
    justify-content: center;
    align-items: center;
   
    
    .content{
        width: 75%;
        border: 2px solid rgb(89, 93, 104);
        border-radius: 5px;
        background-color: #181818;
        .time{
            font-size: 14px;
            margin-top: -4px;
        }
    

        .img-pro{
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
        }
        .menu{
            bottom: 20px;
            right: 140px;
        }
        .love{
            font-size: 14px;
        }
    }
}

.icon{
    font-size: 1.4rem !important;
    color: #b71c1c !important;
    cursor: pointer;
}




.is-love{
    color: chocolate;
}
