.profile {
  display: flex;
  .profile-container {
    flex: 2;
    margin-right: 20px;
    margin-top: 70px;
  }
.w {
  width: calc(100% - 7.5%);
}
  .left {
    width: 73%;
    flex-direction: column;
      justify-content: center;
      align-items: center;
    
  }
}
.right {
  flex: 2.5;
  height: fit-content;
  text-align: center;
  border-left: 3px solid #252753;
  border-radius: 5px;
}


@media (max-width: 1160px) {

  .right {
    display: none !important;
  }
}
