.content-comment{
width: 500px;
    border: 2px solid rgb(89, 93, 104) !important; 
    border-radius: 5px;
    background-color: #191A35;

    .time {
        font-size: 14px;
        margin-top: -15px;
        margin-left: 75px;
        color: gray !important;
    }
}

.dio{
    width: 100% !important;
    &::-webkit-scrollbar {
            width: 0.5em;
            height: 1rem;
        }
    
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #656768;
            outline: 1px solid #656768;
        }
}