.content-comment{
width: 500px;
    border: 2px solid rgb(89, 93, 104);
    border-radius: 5px;
    background-color: #191A35;

    .time {
        font-size: 14px;
        margin-top: -15px;
        margin-left: 75px;
        color: gray !important;
    }
}