.navbar {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
  background: #191A35 !important;
  z-index: 100 !important;
  border-bottom: 3px solid #252753;
.logo {
  font-size: 2.2rem !important;
  color: #34a5dd !important;
  font-weight: 600 !important;
}
  .nav-link {
    color: #34a5dd !important;
  }
}

