.sidebar {
  border-right: 3px solid #252753;
  height: calc(100vh - 69px);
  background-color: #191a35 !important;
  position: fixed;
  margin-top: 69px;
  transition: .5s;
  z-index: 100;
  .top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

    .logo {
      font-size: 2.2rem !important;
      color: #34a5dd !important;
      font-weight: 600 !important;
    }
  }
  
    

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;

        &:hover {
          background-color: #252753;
        }

        .icon {
          font-size: 40px !important;
        }

        span {
          font-size: 20px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.sidebar-show{
  width: 274px;
}

.sidebar-hide{
  width: 100px;
}

